<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online tic-tac-toe</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1 class="app-title">Online Tic-Tac-Toe</h1>
    <input class="room-input" placeholder="join a room" type="text">
    <button class="join-btn">join</button>
    <button class="search-rand-btn">search random</button>
    <script src="/js/app.js" defer></script>
</body>
</html>